
html {
  background-color: #FDEAB8;
  font-family: 'Dosis', sans-serif;
  color: white;
}

main {
  text-align: center;
}

input {
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  text-align: center;
}

input:focus {
  outline: none;
}

.center {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.top {
  position: relative;
  top: 1rem;
}

#message {
  margin: 0; /* Remove margin set by the user agent stylesheet */
}

/* Set color of placeholder text */
::-webkit-input-placeholder  { color: white; } /* Webkit */
:-moz-placeholder { color: white; } /* Firefox <= 18 */
::-moz-placeholder { color: white; } /* Firefox >= 19 */
:-ms-input-placeholder {  color: white; } /* Internet Explorer */

/* Set background color of text selection */
::selection { background: #eeeefe; }
::-moz-selection { background: #eeeefe; } /* Firefox */
